:root {
  --menu-back-color: transparent;
  --menu-content-back-color: var(--sn-ui-back-secondary-color);
  --menu-content-button-back-color-first: var(--sn-ui-highlight-primary-color);
  --menu-content-button-back-color-second: var(--sn-ui-highlight-secondary-color);
  --menu-content-button-front-color: var(--sn-ui-highlight-front-color);
  --menu-content-heading-front-color: var(--sn-ui-front-tertiary-color);
  --menu-content-shadow-color: var(--sn-ui-back-tertiary-color);
  --menu-front-color: var(--sn-ui-front-secondary-color);
  --menu-overlay-back-color: var(--sn-ui-back-secondary-color);
}

.sn-menu {
  aside {
    background: var(--menu-content-back-color);
    box-shadow: 0 0 20px var(--menu-content-shadow-color);
    height: 100%;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    translate: 100% 0;
    width: 260px;
    z-index: 2;

    a {
      display: flex;
      align-items: center;
      height: 50px;
    }

    button {
      background: linear-gradient(-60deg, var(--menu-content-button-back-color-first), var(--menu-content-button-back-color-second));
      border: 0;
      border-radius: 30px;
      color: var(--menu-content-button-front-color);
      font-family: inherit;
      font-size: 16px;
      height: 60px;
      margin-top: 20px;
    }

    h3 {
      color: var(--menu-content-heading-front-color);
      font-size: 16px;
      font-weight: 400;
      margin: 40px 0 10px;
    }
  }

  .burger {
    background: var(--menu-back-color);
    border: 0;
    color: var(--menu-front-color);
    cursor: pointer;
    display: grid;
    font-size: 30px;
    height: 82px;
    padding: 0;
    place-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 82px;
    z-index: 3;

    i:last-child {
      display: none;
    }
  }

  &.open {
    aside {
      translate: 0;
    }

    .burger {
      i:first-child {
        display: none;
      }

      i:last-child {
        display: block;
      }
    }

    .overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  .overlay {
    backdrop-filter: blur(6px);
    background: var(--menu-overlay-back-color);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transition: 0.3s;
    top: 0;
    visibility: hidden;
    z-index: 2;
  }
}